.App {
  text-align: left;
  background-color: #266150;
  max-width: 960px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 15px;
  border-radius: 5px;
}
.App .title {
  font-size: 30px;
  color: #fdf8f5;
}

.App footer {
  margin: 30px 0;
  padding-bottom: 15px;
  color: #fdf8f5;
}
.App footer a {
  color: #e8cebf;
}
